.login-container{
    width: 480px;
    height: 580px;
    text-align: center;
    margin: auto;
    margin-top: 55px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border-radius: 5px;
    /*padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;*/
    padding: 30px 20px 50px 20px;
}

.login-heading{
    text-align: left;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 0 10px 10px 10px;
}

.credential-container{
    padding: 0 10px 10px 10px;
}

.Signon_container{
    display: flex;
    margin-bottom: 10px;
}

.signon_red_red{
    color: rgb(223, 67, 67);
    border-color: rgb(223, 67, 67);
    width: 100%;
    height: 40px;
    margin-right: 4px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: white;
}

.signon_blue_blue{
    color: rgb(49, 147, 232);
    border-color: rgb(49, 147, 232);
    width: 100%;
    height: 40px;
    margin-left: 4px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: white;
}

.login-form{
    height: 400px;
    padding-top: 10px;
}

.username-container{
    height: 55px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 15px 10px 15px 10px;
}

.username-container:hover{
    border: 1px solid black;
}

.username-container:active{
    outline-style: solid;
    outline-width: thin;
}

.username-container:focus{
    outline-style: solid;
    outline-width: thin;
}

.email-input{
    width: inherit;
    border: none;  
    font-size: 16.5px;   
}

.email-input:focus{
    outline-style: none;
    box-shadow: none;   
}

.password-container{
    display: flex;
    height: 55px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 20px;
}

.password-container:hover{
    border: 1px solid black;
}

.password-container:active{
    outline-style: solid;
    outline-width: thin;
}

.password-input-container{
    margin: 10px;
    width: 100%;
    text-align: left;
}

.password-input{
    font-size: 16.5px;
    width: inherit;
    border: none;
}

.password-input:focus{
    outline-style: none;
    box-shadow: none;   
}

.password-eye-container{
    margin: 10px;
    border: none;
}

.password-eye{
    height: 20px;
    width: 25px;
    font-size: 20px;
    border: none;
    background-color: white;
    padding-bottom: 10px;
}

.icon-color{
    color: darkgray
}

.forgot-password-container{
    text-align: right;
}

.forgot-password{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.forgot-password:hover{
    text-decoration: underline;
}

.checkbox-container{
    display: flex;
    padding-left: 5px;
    margin-bottom: 20px;
}

.checkbox{
    width: 15px;
    margin-right: 10px;
}

.remember-me{
    color: gray;
    padding-top: 15px;
    

}

.login_button{
    width: 100%;
    height: 45px;
    color: white;
    border-radius: 4px;
    background-color: black;
    padding: 0 8px 0 8px;
    border: none;
    font-weight: 700;
    margin-bottom: 10px;
}

.signup_button{
    width: 100%;
    height: 35px;
    color: rgb(135, 133, 133);
    border-radius: 4px;
    background-color: white;
    padding: 0 8px 0 8px;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.signup_button:hover{
    width: 100%;
    background-color: rgb(247, 243, 243);
}